


.base  {

width: 50%  ;

}




#card{
    
 width: 50%;
}
#FRECCIA{
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
width: 30PX;
    top: 375px;
    left: 220px;

}
#ellissi{
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
    left: 270px;
    top: 375px;
}

#commento{
    position: absolute;
    object-fit: cover;
    top: 380px;
width: 150px;
left: 3%;
   
}
#save{
   position: absolute;
   object-fit: cover;
    background-color: white ;
color: black ;
border-radius: 10px;
top: 40px;
left: 245px;
}

#card:hover{

    opacity: 0.8;

}

#save:hover{
    margin-top: 5px;
}

#FRECCIA:hover{
 top: 365px;
}
#commento:hover{
    top: 365px;
}
   #ellissi:hover{
    top: 365px;
   }